<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <h1>{{ title }}: {{ description }}</h1>
    <p>Cart.ph is a website for communities to find valuable merchandise and truly have fun while shopping online. Here at Cart.ph, we believe you should be as excited about shopping online as you are about going to your favorite mall. Watch out for our
        first store, rising this 2018!</p>
    <app-email-subscription></app-email-subscription>
    <app-donate></app-donate>
</div>